<div class="container-fluid m-0 p-0">
    <app-nav></app-nav>
    <br>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling">Nemos</button>

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Nemos</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <h1>xd</h1>
 
    </div>

    <div class="container p-5">
        <div class="row p-5 justify-content-center">
            <div class="col-md-12 ms-5">
                <div class="mb">
                    <h1>Precios</h1>
                    <hr>
                </div>
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>Price</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="symbols.length > 0">
                        <tr *ngFor="let symbol of symbols">
                            <td>{{symbol.price}}</td>
                            <td>{{symbol.date}}</td>
                        </tr>
                    </tbody> 
                    <tbody *ngIf="symbols.length <= 0">
                        <td colspan="3" class="text-center py-2">No hay precios para mostrar.</td>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 ms-5">
                <div class="mb">
                    <h1>Grafica</h1>
                    <hr>
                </div>
                <tbody *ngIf="symbols.length <= 0">
                    <td colspan="3" class="text-center py-2">No hay datos para mostrar.</td>
                </tbody>
            </div>
        </div>
    </div>
</div>